@model IncredibleInvoicer.InvoiceDetailStr

@{
    ViewBag.Title = "Invoice";
}

<style>
    .showleft { text-align: left !important; }
    .showright { text-align: right !important; }

    .HeadTbl tr, td {
        padding:0px;
    }
</style>

<div style="display:block;" class="section-to-print">
    <table class="HeadTbl" width="100%">
        <tr>
            <td><span style="font-size:x-large;">Invoice No: @ViewBag.Inv.FriendlyID
            @if (ViewBag.Inv.ReverseCharge)
            {
                @: [REVERSED!]
    }</span></td>
            <td>
                PO Number:   @String.Format("{0:dd-MMM-yyyy}", ViewBag.Inv.POno)
            </td>
        </tr>
        <tr>
            <td>
                Invoice date:   @String.Format("{0:dd-MMM-yyyy}", ViewBag.Inv.InvDate)
            </td>
            <td>
                @if (ViewBag.Inv.POdate != null)
                {
                   @:PO date:   @String.Format("{0:dd-MMM-yyyy}", ViewBag.Inv.POdate)
                }
            </td>
        </tr>
    </table>
    
    
</div>


    @*<div class="section-to-only-print">
        <span  style="float:left; font-size:x-large;">Invoice No: @ViewBag.Inv.InvoiceID    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;         &nbsp;  Invoice date:   @String.Format("{0:dd-MMM-yyyy}", ViewBag.Inv.InvDate)</span>        
    </div>*@

<div class="section-to-not-print">    
    <p style="display:block; " >
        @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Inv.InvoiceID }) |
        @Html.ActionLink("Back to List", "Index") |
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton" />
    </p>
</div>
    <div class="MastDet">
    <div class="section-to-print">
        <table width="80%">
            <tr >
                <td>Bill To :</td>
                <td style="border-right:inset;"><strong> @ViewBag.Inv.Customers.Name</strong></td>
                <td style="padding-left: 15px !important;">City, State:</td>
                <td>@ViewBag.Inv.Customers.City   ,     @ViewBag.Inv.Customers.State.State1</td>
            </tr>
            <tr>
                <td>@ViewBag.Inv.Customers.Address1 ,</td>
                <td style="border-right:inset;">
                @if (ViewBag.Inv.Customers.Address2 != null)
                {
                    @ViewBag.Inv.Customers.Address2
                }
                </td>

                <td style="padding-left: 15px !important;">GSTIN :</td>
                <td>@ViewBag.Inv.Customers.TaxNo</td>
            </tr>

        </table>
    </div>
</div>
        <div class="section-to-not-print">
    @using (Html.BeginForm("CreateDet", "Invoices", FormMethod.Post))
            {
        @Html.AntiForgeryToken()

        <div class="form-inline">
            <h4>InvoiceDetail</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("InvoiceID", (int)ViewBag.Inv.InvoiceID)

            <div class="form-group">
                <label class="control-label col-md-2">Item</label>
                <div class="col-md-10">
                    <input type="text" id="Item" name="Item" style="color:black;" data-autocomplete-url="@Url.Action("AutoComplete")" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">TV Sr.#</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Disc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Disc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">HSN Code</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HSNCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HSNCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Qty, "Qty ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnitID, "Msrmt. Units", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UnitID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rate, "Rate ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rate, "Disc. ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TaxID, "Tax Amt.", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TaxID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TaxID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
        <hr />
</div>


    <div class="section-to-print">
        <table class="table" id="InvPage">
            <tr>
                <th class="showleft">Sr. No</th>
                <th class="showleft">
                    Item
                </th>
                <th class="showleft">
                    HSN Code
                </th>
                <th class="showright">
                    Qty
                </th>
                <th class="showright">
                    Units
                </th>
                <th class="showright">
                    Rate
                </th>
                <th class="showright">
                    Discount
                </th>
                <th class="showright">Tax%</th>
                <th class="showright">Tax Amt.</th>
                <th class="showright">
                    Total
                </th>
                <th></th>
            </tr>

            @{ 
                IEnumerable<InvoiceDetail> indetails = ViewBag.InvDet;
                int srn = 1;
                decimal stot = 0.0M;
                decimal stax = 0.0M;
                decimal ttax = 0.0M;
                decimal tot = 0.0M;
            }

            @foreach (var indet in indetails)
            {
                if((srn % 8)==0)
                    { 
                        @:<tr class="eabreakpage">
                        <tr class="section-to-only-print">
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="section-to-only-print">
                            <td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="section-to-only-print">
                            <td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="section-to-only-print">
                            <td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="section-to-only-print">
                            <td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="section-to-only-print">
                            <td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="section-to-only-print">
                            <th class="showleft">Sr. No</th>
                            <th class="showleft">
                                Item
                            </th>
                            <th class="showleft">
                                HSN Code
                            </th>
                            <th class="showright">
                                Qty
                            </th>
                            <th class="showright">
                                Units
                            </th>
                            <th class="showright">
                                Rate
                            </th>
                            <th class="showright">
                                Discount
                            </th>
                            <th class="showright">Tax%</th>
                            <th class="showright">Tax Amt.</th>
                            <th class="showright">
                                Total
                            </th>
                            <th></th>
                        </tr>
                }
                else
                {
                        @:<tr>
                    }

                    <td>
                        @srn
                        @{ srn++; //All the Calc for this row
                            stot = (decimal)indet.Qty * (decimal)indet.Rate;
                            if (indet.Discount != null)
                            {
                                stot -= (decimal)indet.Discount;
                            }
                            stax = stot * ((decimal)indet.Taxes.Tax / 100);
                            //stax = (decimal)indet.Taxes.Tax;
                            tot += stot;
                            ttax += stax;
                        }
                    </td>
                    <td>
                        @indet.Items.Item <br />
                        @if (@indet.Disc != null) { 
                            @indet.Disc  
                            }
                    </td>
                    <td>@indet.HSNCode</td>
                    <td align="right">
                        @indet.Qty
                    </td>
                    <td align="right">
                        @indet.Unit.Unit1
                    </td>
                    <td align="right">
                        @indet.Rate
                    </td>
                    <td align="right">
                        @indet.Discount
                    </td>
                    <td align="right">
                        @indet.Taxes.Tax
                    </td>
                    <td align="right">                        
                        @String.Format("{0:0.00}", stax)
                    </td>
                    <td align="right">
                        @String.Format("{0:0.00}", stot + stax)
                    </td>
                    <td class="showright">
                        <span class="section-to-not-print">
                            @Html.ActionLink("Delete", "DeleteDet", new { id = indet.InvoiceDetailID, invid = indet.InvoiceID })
                        </span>
                    </td>
                @:</tr>
            }

        </table>
       
        <hr />
        <table class="HeadTbl" width="100%">
            <tr>
                <td>Bank A/C:</td>
                <td>@ViewBag.Inv.Banks.ACno</td>
                <td>Net Total:</td>
                <td class="showright">@String.Format("{0:0.00}", tot)</td>
            </tr>
            <tr>
                <td>Bank IFSC:</td>
                <td>@ViewBag.Inv.Banks.IFSC</td>
                <td>Add IGST:</td>
                <td class="showright">@String.Format("{0:0.00}", ttax)</td>
            </tr>
            <tr>
                <td>GST on Reverse Charge:</td>
                <td>@ViewBag.Inv.RevChrg</td>
                <td>Gross Total:</td>
                <td class="showright">@String.Format("{0:0.00}", tot + ttax)</td>
            </tr>
        </table>
        
        
    </div>
