@model IEnumerable<IncredibleInvoicer.Tax>

@{
    ViewBag.Title = "Taxes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tax1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tax1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaxID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaxID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaxID })
        </td>
    </tr>
}

</table>
