@model IncredibleInvoicer.InvoiceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.POno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.POno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.Unit1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Unit1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
